---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dnsmasq-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dnsmasq
  template:
    metadata:
      labels:
        app: dnsmasq
    spec:
      containers:
      - name: dnsmasq
        image: git.lab/lab/dnsmasq:initial
        imagePullPolicy: IfNotPresent
        # Note: --interface=eth0 implicitly overrides local-service and
        #       local-service prevents dnsmasq from serving routed traffic
        command: ["/usr/sbin/dnsmasq", "--no-daemon", "--interface=eth0"]
      dnsConfig:
        nameservers: [ "9.9.9.9", "1.1.1.1" ]
        searches: [ "lab" ]
      hostAliases:
      # dockerhost => host.docker.internal
      - ip: "192.168.1.5"
        hostnames:
        - "git.lab"
        - "words.lab"
        - "dns.lab"
        - "www.lab"
        - "tls.lab"
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1

---
# Handled by ServiceLB (i.e. Klipper) in K3s
apiVersion: v1
kind: Service
metadata:
  name: dnsmasq-service
spec:
  selector:
    app: dnsmasq
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
  - name: dns-tcp
    protocol: TCP
    port: 53
    targetPort: 53
  - name: dns-udp
    protocol: UDP
    port: 53
    targetPort: 53