services:
  cert_generator:
    image: cert_generator
    container_name: cert_generator
    restart: never
    build:
      extra_hosts: [ "dockerhost:host-gateway" ]
      context: context/cert_generator
      dockerfile_inline: |
        FROM alpine:latest
        RUN apk add -U openssl bash
        WORKDIR /certs
        COPY generate.sh /generate.sh
        RUN chmod +x /generate.sh
    volumes:
      - ./data/certs:/certs
    command: [ "/generate.sh" ]



  openldap_svc:
    # https://hub.docker.com/r/bitnami/openldap
    image: git.lab.lan/lab/openldap_svc:stage
    container_name: openldap_svc
    build:
      extra_hosts: [ "dockerhost:host-gateway" ]
      context: context/openldap
      dockerfile_inline: |
        #FROM git.lab.lan/dockerhub/bitnami_openldap:latest
        FROM bitnami/openldap
        #COPY baseline-dir.ldif /ldif/baseline-dir.ldif
        #RUN chmod 644 /ldif/baseline-dir.ldif
        #COPY setup-acls.sh /docker-entrypoint-initdb.d/setup-acls.sh
        #RUN chmod +x /docker-entrypoint-initdb.d/setup-acls.sh
        #COPY acls.ldif /config-ldif/acls.ldif
    hostname: ldap.lab.lan
    extra_hosts:
    - dockerhost:host-gateway
    - ldap.lab.lan:host-gateway
    restart: unless-stopped
    ports:
    - 389:389
    - 636:636
    environment:
    - LDAP_PORT_NUMBER=389
    - LDAP_ROOT=dc=lab,dc=lan
    # cn=admin,dc=lab,dc=lan
    - LDAP_ADMIN_USERNAME=admin
    - LDAP_ADMIN_PASSWORD=password
    - LDAP_CONFIG_ADMIN_ENABLED=yes
    # cn=config,cn=config
    - LDAP_CONFIG_ADMIN_USERNAME=config
    - LDAP_CONFIG_ADMIN_PASSWORD=password
    - LDAP_USERS=testuser
    - LDAP_PASSWORDS=password
    - LDAP_ENABLE_TLS=yes
    - LDAP_LDAPS_PORT_NUMBER=636
    - LDAP_TLS_CERT_FILE=/opt/bitnami/openldap/certs/lab-apps.chain.crt
    - LDAP_TLS_KEY_FILE=/opt/bitnami/openldap/certs/lab-apps.key
    - LDAP_TLS_CA_FILE=/opt/bitnami/openldap/certs/lab-root.chain.crt
    volumes:
    - ./data/openldap:/bitnami/openldap
    - ./data/certs:/opt/bitnami/openldap/certs
    - ./imports:/ldifs:ro
    - ./imports:/docker-entrypoint-initdb.d:ro

  client:
    image: client
    container_name: client
    build:
      extra_hosts: [ "dockerhost:host-gateway" ]
      context: context
      dockerfile_inline: |
        FROM debian:bookworm

        # Install all the things
        RUN apt-get update
        RUN apt-get install -y sssd libpam-sss libnss-sss oddjob oddjob-mkhomedir ldap-utils sssd-tools libsss-sudo
        # Note: No trivial setup for NFS from container
        #RUN apt-get install autofs nfs-common
        RUN apt-get install -y vim iputils-ping nmap net-tools openssh-server rsyslog

        # Configure sshd and non-LDAP user
        RUN sed -i 's/#Port 22/Port 40022/' /etc/ssh/sshd_config
        RUN mkdir /run/sshd
        RUN useradd -p password -u 900 ladmin

        # Setup sss
        COPY client/sssd.conf /etc/sssd/sssd.conf
        RUN chmod 600 /etc/sssd/sssd.conf

        # Setup CA certificate
        #COPY openldap/lan-lab.cert.pem /usr/local/share/ca-certificates/
        #RUN chmod 644 /usr/local/share/ca-certificates/ldap-cert.pem && update-ca-certificates
        COPY client/ldap.conf /etc/ldap/ldap.conf
        RUN chmod 644 /etc/ldap/ldap.conf

        # Setup PAM
        #COPY pamd-sssd-config /etc/pam.d/sssd-config
        ENV DEBIAN_FRONTEND=noninteractive
        RUN pam-auth-update --enable sss && pam-auth-update --enable mkhomedir

        # Setup NFS
        # Note: No trivial setup for NFS from container
        #COPY client/users.conf /etc/auto.master.d/
        #COPY client/auto.users /etc/auto.users

        # Start services
        COPY client/entrypoint.sh /entrypoint.sh
        EXPOSE 40022
        USER ladmin

    entrypoint: [ "/entrypoint.sh" ]
    extra_hosts:
      - dockerhost:host-gateway
      - ldap.lab.lan:host-gateway
    ports:
    - 40022:40022
    restart: never
    stdin_open: true
    tty: true
    volumes:
    - ./data/certs:/certs


  phpldapadmin_svc:
    image: git.lab.lan/lab/phpldapadmin_svc:stage
    container_name: phpldapadmin1_svc
    build:
      extra_hosts: [ "dockerhost:host-gateway" ]
      context: context/phpldapadmin
      dockerfile_inline: |
        FROM git.lab.lan/dockerhub/alpine:latest
        RUN echo http://dockerhost:8000/alpine > /etc/apk/repositories
        RUN apk add -U --allow-untrusted phpldapadmin caddy php82-fpm s6
        COPY php.ini /etc/php82/
        COPY init.sh /
        COPY Caddyfile /etc/caddy/
        COPY www.conf /etc/php82/php-fpm.d/
        COPY config.php /etc/phpldapadmin/
        RUN mkdir /etc/s6
        COPY s6/ /etc/s6/
        RUN mkdir /www
        WORKDIR /www
        ENTRYPOINT ["/init.sh"]
    extra_hosts:
    - dockerhost:host-gateway
    - ldap.lab.lan:host-gateway
    restart: unless-stopped
    ports:
    - 1380:80
    environment:
    - LDAP_NAME=Lab LDAP
    - LDAP_HOST=ldap.lab.lan
    - LDAP_BASE=dc=lab,dc=lan
    - LDAP_BIND_DN=cn=admin,dc=lab,dc=lan
    - LDAP_BIND_PW=password
    - LDAP_PORT=389
    #- LDAP_TLS=false
