services:
  caddy_router_svc:
    image: git.lab/lab/caddy:initial
    #depends_on:
    #  caddy_certs_init: { condition: service_completed_successfully }
    #  dnsmasq_svc: { condition: service_started }
    container_name: caddy_router_svc
    build: 
      context: context
      dockerfile_inline: |
        FROM caddy:alpine
        
        COPY Caddyfile /etc/caddy/Caddyfile
        
        # Build the container entrypoint
        COPY <<EOF /start-caddy.sh
        #!/bin/sh
        mkdir -p /public/certs
        cp /data/caddy/pki/authorities/local/*.crt /public/certs
        caddy run --config /etc/caddy/Caddyfile --adapter caddyfile
        EOF
        RUN chmod +x /start-caddy.sh
        CMD ["/start-caddy.sh"]

    restart: unless-stopped
    #network_mode: host
    ports: [ "11180:80", "11443:443", "81:81" ]

    extra_hosts:
    # Backend hostnames used in Caddyfile
    - dockerhost:host-gateway
    - gitea-service:192.168.1.5
    volumes:
      - /opt/state/caddy_router_svc/config:/config
      - /opt/state/caddy_certs_init:/data/caddy/pki/authorities/local
