---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dnsmasq-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dnsmasq
  template:
    metadata:
      labels:
        app: dnsmasq
    spec:
      hostNetwork: true
      containers:
      - name: dnsmasq
        image: git.lab/lab/dnsmasq:initial
        imagePullPolicy: IfNotPresent
        ports:
        - { name: dns-tcp, containerPort: 53, protocol: TCP }
        - { name: dns-udp, containerPort: 53, protocol: UDP }
        #volumeMounts:
        #- name: data-volume
        #  mountPath: /data
        command: ["/usr/sbin/dnsmasq", "--no-daemon"]
      #volumes:
      #- name: data-volume
      #  hostPath:
      #    path: /opt/state/dnsmasq-deployment/data
      # See https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/
      dnsPolicy: ClusterFirstWithHostNet
      dnsConfig:
        nameservers: [ "9.9.9.9", "1.1.1.1" ]
        searches: [ "lab" ]
      hostAliases:
      # dockerhost => host.docker.internal
      - ip: "192.168.1.77"
        hostnames:
        - "git.lab"
        - "words.lab"
        - "dns.lab"
        - "www.lab"
        - "tls.lab"
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1

