apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
  template:
    metadata:
      labels:
        app: gitea
    spec:
      hostNetwork: true
      containers:
      - name: gitea
        image: gitea/gitea:1.22.0-rc1
        ports:
        - { name: ssh, containerPort: 22, protocol: TCP }
        volumeMounts:
        - name: data-volume
          mountPath: /data
        - name: timezone-volume
          mountPath: /etc/timezone
        - name: localtime-volume
          mountPath: /etc/localtime
      volumes:
      - name: data-volume
        hostPath: { path: /opt/state/gitea_svc/data }
      - name: timezone-volume
        hostPath: { path: /etc/timezone }
      - name: localtime-volume
        hostPath: { path: /etc/localtime }
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1

---
apiVersion: v1
kind: Service
metadata:
  name: gitea-service
spec:
  selector:
    app: gitea
  type: NodePort
  ports:
  - name: http
    protocol: TCP
    port: 3000
    targetPort: 3000
    nodePort: 31180
  