# Compose v2.20.3+

## Quick port mapping reference.
# dnsmasq_svc - host networking on port ANYIP:53
# caddy_svc - host networking on ports ANYIP:80, ANYIP:443, 127.0.0.1:2019
# gitea_svc - 127.0.0.1:1180:3000, 22:22

include:
  # Primary Baseline Services
  - essential_pkgs/docker-compose.yml
  - dns.lab/docker-compose.yml
  - rproxy.lab/docker-compose.yml
  - git.lab/docker-compose.yml
  - gitea_sys_runner/docker-compose.yml
