https://words.lab {
  tls internal
  
  reverse_proxy http://words-service.lab-words-ns.svc.cluster.local:1080 {
    header_up Host {host}
    header_up X-Real-IP {remote}
  }
}

https://git.lab {
  tls internal
  
  # gitea-service from extra_hosts OR ClusterIP
  reverse_proxy http://git-service.lab-git-ns.svc.cluster.local:1180 {
    header_up Host {host}
    header_up X-Real-IP {remote}
  }
}

https://www.lab {
  tls internal
  
  reverse_proxy http://manual-service.lab-manual-ns.svc.cluster.local:1280 {
    header_up Host {host}
    header_up X-Real-IP {remote}
  }
}

https://tls.lab {
  tls internal
  
  root * /public
  file_server browse
}

http://tls.lab {
  root * /public
  file_server browse
}


