services:
  debian-collector:
    image: debian:12-slim
    privileged: true
    volumes:
      - ${PWD}/essential_pkgs:/data
    working_dir: /data
    entrypoint: ["/bin/sh","-c"]
    environment:
    - PACKAGES=docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
    - DOCKER_ASC=/etc/apt/keyrings/docker.asc
    - DOCKER_URL=https://download.docker.com/linux/debian
    command:
    - |
      # Install docker debian package repo
      apt-get update
      # Note: dpkg-dev brings in oodles of extra deps.
      apt-get install -y ca-certificates curl apt-rdepends dpkg-dev
      install -m 0755 -d /etc/apt/keyrings
      curl -fsSL https://download.docker.com/linux/debian/gpg \
        -o /etc/apt/keyrings/docker.asc
      chmod a+r /etc/apt/keyrings/docker.asc
      
      echo \
        "deb [arch=$$(dpkg --print-architecture) signed-by=$$DOCKER_ASC] $$DOCKER_URL \
        $$(. /etc/os-release && echo "$$VERSION_CODENAME") stable" | \
        tee /etc/apt/sources.list.d/docker.list > /dev/null
      apt-get update

      # Download packages dependencies
      install -m 0777 -d /data/debian
      cd /data/debian
      apt-get updates
      apt-get download $$(apt-rdepends $$PACKAGES|grep -v "^ "|grep -v "^debconf-2.0$$")
      dpkg-scanpackages . /dev/null | gzip -9c > Packages.gz
      rm -f /data/debian/.apt-acquire-privs-test*

  alpine-collector:
    image: alpine:latest
    privileged: true
    volumes:
      - ${PWD}/essential_pkgs:/data
    working_dir: /data
    entrypoint: ["/bin/sh","-c"]
    command:
    - |
      install -m 0777 -d /data/alpine/x86_64
      cd /data/alpine/x86_64
      apk update
      apk fetch -R dnsmasq
      apk index --rewrite-arch x86_64 -o APKINDEX.tar.gz *.apk
  
  docker-collector:
    image: alpine:latest
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${PWD}/essential_pkgs:/data
    working_dir: /data
    entrypoint: ["/bin/sh","-c"]
    command:
    - |
      install -m 0777 -d /data/docker
      cd /data/docker
      apk add -U docker
      docker pull alpine:latest
      docker save -o alpine_-_latest.dockerimage alpine:latest
      docker pull caddy:alpine
      docker save -o caddy_-_alpine.dockerimage caddy:alpine
      docker pull gitea/gitea:latest
      docker save -o gitea_-_gitea_-_latest.dockerimage gitea/gitea:latest
      docker pull gitea/act_runner:latest
      docker save -o gitea_-_act_runner_-_latest.dockerimage gitea/act_runner:latest
      docker pull vaultwarden/server:latest
      docker save -o vaultwarden_-_server_-_latest.dockerimage vaultwarden/server:latest
      docker pull node:lts-alpine
      docker save -o node_-_lts-alpine.dockerimage node:lts-alpine
      chmod 755 /data/docker/*
      
  github-collector:
    image: alpine:latest
    privileged: true
    volumes:
      - ${PWD}/essential_pkgs:/data
    working_dir: /data
    entrypoint: ["/bin/sh","-c"]
    command:
    - |
      install -m 0777 -d /data/github/k3s-io
      cd /data/github/k3s-io
      apk -U add curl
      # https://github.com/k3s-io/k3s/releases
      curl -LO https://github.com/k3s-io/k3s/releases/download/v1.30.0%2Bk3s1/k3s
      curl -LO https://github.com/k3s-io/k3s/releases/download/v1.30.0%2Bk3s1/k3s-airgap-images-amd64.tar.gz
      chmod +x k3s
      cat >install_k3s.sh <<EOF
      #!/bin/sh
      LAN_LISTEN_IFACE=\$(ip r s | grep ^default | cut -d ' ' -f5)
      LAN_LISTEN_ADDR=\$(ip addr show \$$LAN_LISTEN_IFACE | grep "inet\b" | awk '{print \$2}' | cut -d/ -f1)
      INSTALL_K3S_SKIP_DOWNLOAD=true
      INSTALL_K3S_EXEC="--write-kubeconfig-mode 660"
      INSTALL_K3S_EXEC="\$$INSTALL_K3S_EXEC --disable traefik"
      INSTALL_K3S_EXEC="\$$INSTALL_K3S_EXEC --node-ip \$$LAN_LISTEN_ADDR "
      INSTALL_K3S_EXEC="\$$INSTALL_K3S_EXEC --node-external-ip \$$LAN_LISTEN_ADDR "
      INSTALL_K3S_EXEC="\$$INSTALL_K3S_EXEC --advertise-address \$$LAN_LISTEN_ADDR "
      INSTALL_K3S_EXEC="\$$INSTALL_K3S_EXEC --bind-address \$$LAN_LISTEN_ADDR"
      echo ""
      EOF
      curl https://get.k3s.io >> install_k3s.sh
      chmod +x install_k3s.sh
