---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: git-deployment
  namespace: lan-lab-git-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lan-lab-git
  template:
    metadata:
      labels:
        app: lan-lab-git
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: gitea_svc
        image: git.lab.lan/lab/gitea_svc:stage
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - name: data-volume
          mountPath: /data
        - name: backup-config-volume
          mountPath: /backups/configs
        - name: timezone-volume
          mountPath: /etc/timezone
        - name: localtime-volume
          mountPath: /etc/localtime
        env:
        - { name: FULL_HOSTNAME, value: git.lab }
        - { name: USER_UID, value: "1000" }
        - { name: USER_GID, value: "1000" }
        - { name: GITEA__database__DB_TYPE, value: postgres }
        - { name: GITEA__database__HOST, value: git-db-service:5432 }
        - name: GITEA__database__NAME
          valueFrom: { secretKeyRef: { name: git-db-secrets, key: POSTGRES_DB } }
        - name: GITEA__database__USER
          valueFrom: { secretKeyRef: { name: git-db-secrets, key: POSTGRES_USER } }
        - name: GITEA__database__PASSWD
          valueFrom: { secretKeyRef: { name: git-db-secrets, key: POSTGRES_PASSWORD } }
        
      volumes:
      - name: data-volume
        hostPath: { path: /opt/state/lan-lab-git/data }
      - name: backup-config-volume
        hostPath: { path: /opt/state/lan-lab-git/backup-configs }
      - name: timezone-volume
        hostPath: { path: /etc/timezone }
      - name: localtime-volume
        hostPath: { path: /etc/localtime }
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1


