https://words.lab {
  tls internal
  
  reverse_proxy http://127.0.0.1:31080 {
    header_up Host {host}
    header_up X-Real-IP {remote}
  }
}

https://git.lab {
  tls internal
  
  # gitea-service from extra_hosts OR ClusterIP
  reverse_proxy http://gitea-service:1180 {
    header_up Host {host}
    header_up X-Real-IP {remote}
  }
}

https://www.lab {
  tls internal
  
  reverse_proxy http://127.0.0.1:31280 {
    header_up Host {host}
    header_up X-Real-IP {remote}
  }
}

https://tls.lab {
  tls internal
  
  root * /public
  file_server browse
}

http://tls.lab {
  root * /public
  file_server browse
}

http://tls.lab:81 {
  root * /public
  file_server browse
}

